<div class="box my-8 box-border px-2 py-4 rounded-md bg-white border border-1 border-gray-300">
  <div class="head flex justify-between mb-4">
    <img src="./../../../../../assets/pic.jpg" alt="" class="w-8 h-8 rounded-full">
    <div class="handle flex">
      <span class="edit mx-1 p-1 cursor-pointer" (click)="deleteTask(task.id)">
        <i class="fi fi-br-pencil w-4 h-4 rounded-md hover:bg-sky-600 hover:text-white p-2"></i>
      </span>
      <span class="delet mx-1 p-1 cursor-pointer" (click)="deleteTask(task.id)">
        <i class="fi fi-rs-trash w-4 h-4 rounded-md hover:bg-sky-600 hover:text-white p-2"></i>
      </span>
    </div>
  </div>
  <p class="leading-relaxed text-gray-700 tracking-wide" > {{task.title}} </p>
</div>